client/dev/jade/contact.jade
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bank Interiors - Kenilworth | Luxury Bathrooms | Traditional Kitchens | Midlands
    link(rel='canonical' href='http://bankinteriors.co.uk/contact.html')
    meta(name='description', content='Bank Interiors are Warwickshire’s exclusive retailer and fitter of luxury, contemporary and traditional kitchens and bathrooms.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/core.min.css')
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body
    header.header
      .wrapper.unify
        img.logo(src='/assets/images/logo.jpg' alt='Bank Interiors')

        .heading.unify
          h3 Kitchen and Bathroom Cabinet Manufacturers
          span.heading-sub Tel&#58; 01676 530329

        nav.nav
          ul.nav-ul
            li.nav-li: a(href="index") Home
            li.nav-li: a(href="kitchens") Our Kitchens
            li.nav-li: a(href="bathrooms") Our Bathrooms
            li.nav-li: a(href="what-to-expect") What to Expect
            li.nav-li: a(href="design") Design &amp; Installation
            li.nav-li.nav-active: a(href="contact") Contact Bank

    section.general-main
      .wrapper
        .general-content.unify
          img.wte-img(src='/assets/images/contact-header.jpg' alt='Contact')
          h1.general_heading Contact

          .general-content_text.unify
            br
            h3.contact-content_heading Interested in our Kitchens?
            h3.contact-content_heading Call Steve Goodall on: <strong>01676 530329 or 07973 986733</strong>

            img(src='/assets/images/croft-small.jpg' alt='Contact Bank Interiors')
            img(src='/assets/images/workshop-small.jpg' alt='Contact Bank Interiors')

            h3.contact-content_heading Email: design@bankinteriors.co.uk


            h3.contact-content_heading.
              Design Studio: The Corft <br>
              Spencers Lane <br>
              Berkswell <br>
              Warwickshire <br>
              CV7 7BY


            h3.contact-content_heading.
              Thank you! <br>
              Available to the Midlands only.
            


          .general-content_sidebar.unify
  

    include ./includes/footer.jade

client/contact.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank Interiors - Kenilworth | Luxury Bathrooms | Traditional Kitchens | Midlands</title>
    <link rel="canonical" href="http://bankinteriors.co.uk/contact.html">
    <meta name="description" content="Bank Interiors are Warwickshire’s exclusive retailer and fitter of luxury, contemporary and traditional kitchens and bathrooms.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/core.min.css"><!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="header">
      <div class="wrapper unify"><img src="/assets/images/logo.jpg" alt="Bank Interiors" class="logo">
        <div class="heading unify">
          <h3>Kitchen and Bathroom Cabinet Manufacturers</h3><span class="heading-sub">Tel&#58; 01676 530329</span>
        </div>
        <nav class="nav">
          <ul class="nav-ul">
            <li class="nav-li"><a href="index">Home</a></li>
            <li class="nav-li"><a href="kitchens">Our Kitchens</a></li>
            <li class="nav-li"><a href="bathrooms">Our Bathrooms</a></li>
            <li class="nav-li"><a href="what-to-expect">What to Expect</a></li>
            <li class="nav-li"><a href="design">Design &amp; Installation</a></li>
            <li class="nav-li nav-active"><a href="contact">Contact Bank</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="general-main">
      <div class="wrapper">
        <div class="general-content unify"><img src="/assets/images/contact-header.jpg" alt="Contact" class="wte-img">
          <h1 class="general_heading">Contact</h1>
          <div class="general-content_text unify"><br>
            <h3 class="contact-content_heading">Interested in our Kitchens?</h3>
            <h3 class="contact-content_heading">Call Steve Goodall on: <strong>01676 530329 or 07973 986733</strong></h3><img src="/assets/images/croft-small.jpg" alt="Contact Bank Interiors"><img src="/assets/images/workshop-small.jpg" alt="Contact Bank Interiors">
            <h3 class="contact-content_heading">Email: design@bankinteriors.co.uk</h3>
            <h3 class="contact-content_heading">
              Design Studio: The Corft <br>
              Spencers Lane <br>
              Berkswell <br>
              Warwickshire <br>
              CV7 7BY
              
              
            </h3>
            <h3 class="contact-content_heading">
              Thank you! <br>
              Available to the Midlands only.
              
              
              
            </h3>
          </div>
          <div class="general-content_sidebar unify"></div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="wrapper">
        <p> Email: design@bankinteriors.co.uk  &bull;   Design Centre - Berkswell   &bull;   Tel: 01676 530329</p>
      </div>
    </footer>
  </body>
</html>
