client/dev/jade/index.jade
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bank Interiors - Kenilworth | Luxury Bathrooms | Traditional Kitchens | Midlands
    link(rel='canonical' href='http://bankinteriors.co.uk')
    meta(name='description', content='Bank Interiors are Warwickshire’s exclusive retailer and fitter of luxury, contemporary and traditional kitchens and bathrooms.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/core.min.css')
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body
    header.header
      .wrapper.unify
        img.logo(src='/assets/images/logo.jpg' alt='Bank Interiors')

        .heading.unify
          h3 Kitchen and Bathroom Cabinet Manufacturers
          span.heading-sub Tel&#58; 01676 530329

        nav.nav
          ul.nav-ul
            li.nav-li.nav-active: a(href="index") Home
            li.nav-li: a(href="kitchens") Our Kitchens
            li.nav-li: a(href="bathrooms") Our Bathrooms
            li.nav-li: a(href="what-to-expect") What to Expect
            li.nav-li: a(href="design") Design &amp; Installation
            li.nav-li: a(href="contact") Contact Bank

    section.home-main
      .wrapper
        .home-billboard.unify
          h2.home-main_heading Exceptional build quality and even better value for money!
          img.home-main_img(src="/assets/images/bankindex-01.jpg" alt="")

        article.home-content.unify
          h3.home-content_heading Who Are We?
          .home-content_text
            p.
              We are one of the Midlands leading sources for Handmade Painted Freestanding 
              and Fitted kitchen furniture. Our vast experience, craftsmanship and project 
              management developed skills over many years, will ensure you receive all you ask for 
              and more.
            p.
              All our furniture is produced in our own factory in Warwickshire by a team of 
              dedicated and experienced Cabinet Makers using traditional methods combined 
              with modern machinery and materials to make our furniture desirable and long 
              lasting. Our kitchens, without a doubt, comparable to leading high-end 
              brand names at a more affordable price, sometimes up to 50% less.
            p.
              At our Design Centre we can demonstrate our passion for design and unrivalled 
              project management. We provide a complete service resulting in exceptional 
              individually designed freestanding and fitted kitchens.
            p.
              We are committed to providing our customers with a great service experience 
              and look forward to working with you to create your dream Kitchen.
            p.
              Please telephone: <strong>01676 530329</strong> or email us on: 
              <strong>design@bankinteriors.co.uk</strong> to arrange a visit to our 
              Berkswell Design Centre, we are near Solihull and the N.E.C.
            p Steve Goodall &amp; John Ensell.
            p Co-Founders <br> Bank Interiors.

          a(href="contact.html" alt="Contact Bank").home-content_button Contact Us &#62;

        aside.home-sidebar.unify
          img.home-sidebar_img(src="/assets/images/bank-shop.jpg" alt="Bank Shop")
          <!-- insert map -->


    include ./includes/footer.jade

client/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank Interiors - Kenilworth | Luxury Bathrooms | Traditional Kitchens | Midlands</title>
    <link rel="canonical" href="http://bankinteriors.co.uk">
    <meta name="description" content="Bank Interiors are Warwickshire’s exclusive retailer and fitter of luxury, contemporary and traditional kitchens and bathrooms.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/core.min.css"><!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="header">
      <div class="wrapper unify"><img src="/assets/images/logo.jpg" alt="Bank Interiors" class="logo">
        <div class="heading unify">
          <h3>Kitchen and Bathroom Cabinet Manufacturers</h3><span class="heading-sub">Tel&#58; 01676 530329</span>
        </div>
        <nav class="nav">
          <ul class="nav-ul">
            <li class="nav-li nav-active"><a href="index">Home</a></li>
            <li class="nav-li"><a href="kitchens">Our Kitchens</a></li>
            <li class="nav-li"><a href="bathrooms">Our Bathrooms</a></li>
            <li class="nav-li"><a href="what-to-expect">What to Expect</a></li>
            <li class="nav-li"><a href="design">Design &amp; Installation</a></li>
            <li class="nav-li"><a href="contact">Contact Bank</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="home-main">
      <div class="wrapper">
        <div class="home-billboard unify">
          <h2 class="home-main_heading">Exceptional build quality and even better value for money!</h2><img src="/assets/images/bankindex-01.jpg" alt="" class="home-main_img">
        </div>
        <article class="home-content unify">
          <h3 class="home-content_heading">Who Are We?</h3>
          <div class="home-content_text">
            <p>
              We are one of the Midlands leading sources for Handmade Painted Freestanding 
              and Fitted kitchen furniture. Our vast experience, craftsmanship and project 
              management developed skills over many years, will ensure you receive all you ask for 
              and more.
            </p>
            <p>
              All our furniture is produced in our own factory in Warwickshire by a team of 
              dedicated and experienced Cabinet Makers using traditional methods combined 
              with modern machinery and materials to make our furniture desirable and long 
              lasting. Our kitchens, without a doubt, comparable to leading high-end 
              brand names at a more affordable price, sometimes up to 50% less.
            </p>
            <p>
              At our Design Centre we can demonstrate our passion for design and unrivalled 
              project management. We provide a complete service resulting in exceptional 
              individually designed freestanding and fitted kitchens.
            </p>
            <p>
              We are committed to providing our customers with a great service experience 
              and look forward to working with you to create your dream Kitchen.
            </p>
            <p>
              Please telephone: <strong>01676 530329</strong> or email us on: 
              <strong>design@bankinteriors.co.uk</strong> to arrange a visit to our 
              Berkswell Design Centre, we are near Solihull and the N.E.C.
            </p>
            <p>Steve Goodall &amp; John Ensell.</p>
            <p>Co-Founders <br> Bank Interiors.</p>
          </div><a href="contact.html" alt="Contact Bank" class="home-content_button">Contact Us &#62;</a>
        </article>
        <aside class="home-sidebar unify"><img src="/assets/images/bank-shop.jpg" alt="Bank Shop" class="home-sidebar_img"><!-- insert map --></aside>
      </div>
    </section>
    <footer class="footer">
      <div class="wrapper">
        <p> Email: design@bankinteriors.co.uk  &bull;   Design Centre - Berkswell   &bull;   Tel: 01676 530329</p>
      </div>
    </footer>
  </body>
</html>
