client/kitchens.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank Interiors - Kenilworth | Luxury Kitchens | Traditional Kitchens | Midlands</title>
    <link rel="canonical" href="http://bankinteriors.co.uk/kitchens.html">
    <meta name="description" content="Bank Interiors are Warwickshire’s exclusive retailer and fitter of luxury, contemporary and traditional kitchens and bathrooms.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/core.min.css">
    <link rel="stylesheet" href="http://bankinteriors.co.uk/css/advanced-slider-base.css">
    <link rel="stylesheet" href="http://bankinteriors.co.uk/css/curved-rounded-2/curved-rounded-2.css">
    <link rel="stylesheet" href="http://bankinteriors.co.uk/css/scrollbar-3-light/scrollbar-3-light.css">
    <script src="http://bankinteriors.co.uk/js/jquery-1.6.1.min.js"></script>
    <script src="http://bankinteriors.co.uk/js/jquery.advancedSlider.min.js"></script><!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      $(document).ready(function(){
      $('.slider').advancedSlider({width:923, height:555, skin: 'curved-rounded-2', scrollbarSkin: 'scrollbar-3-light', horizontalSlices: 6, verticalSlices: 3, fadeNavigationButtons: true, 
      thumbnailsType: 'navigation', thumbnailSync: true, visibleThumbnails: 7, fadeThumbnailArrows: true, thumbnailButtons: true, fadeThumbnailButtons: true, 
      thumbnailScrollbar: false, fadeThumbnailScrollbar: true, hideThumbnailCaption: true, slideshow: false, slideshowControls: false, fadeSlideshowControls: false,                                     shadow: false, fadeNavigationArrows: false, fadeNavigationThumbnails: false, thumbnailButtons: false, navigationButtons: false, fadeThumbnailArrows: false,                                     thumbnailWidth: '116', thumbnailHeight:'69', navigationThumbnailsCenter: false, 
      slideProperties:{
      0: {captionHideEffect: 'slide', captionSize: 35}, 
      1: {captionShowEffect: 'fade', captionPosition: 'custom', captionHeight: 160},
      3: {captionPosition: 'top', captionSize: 40}, 
      5: {captionHideEffect: 'slide', captionPosition: 'right', captionSize: 170}
      }
      });
      });
    </script>
  </head>
  <body>
    <header class="header">
      <div class="wrapper unify"><img src="/assets/images/logo.jpg" alt="Bank Interiors" class="logo">
        <div class="heading unify">
          <h3>Kitchen and Bathroom Cabinet Manufacturers</h3><span class="heading-sub">Tel&#58; 01676 530329</span>
        </div>
        <nav class="nav">
          <ul class="nav-ul">
            <li class="nav-li"><a href="index.html">Home</a></li>
            <li class="nav-li nav-active"><a href="kitchens">Our Kitchens</a></li>
            <li class="nav-li"><a href="bathrooms">Our Bathrooms</a></li>
            <li class="nav-li"><a href="what-to-expect">What to Expect</a></li>
            <li class="nav-li"><a href="design">Design &amp; Installation</a></li>
            <li class="nav-li"><a href="contact">Contact Bank</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="kitchens-main">
      <div class="wrapper">
        <div class="kitchens-content unify">
          <h1 class="kitchens_heading">Kitchens</h1>
          <div style="width: 100% !important" class="slider">
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/1.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/1-s.jpg" title=""/>
            </div>
             
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/2.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/2-s.jpg" title=""/>
            </div>
             
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/3.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/3-s.jpg" title=""/>
            </div>
             
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/4.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/4-s.jpg" title=""/>
            </div>
             
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/5.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/5-s.jpg" title=""/>
            </div>
             
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/6.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/6-s.jpg" title=""/>
            </div>
             
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/7.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/7-s.jpg" title=""/>
            </div>
             
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/8.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/8-s.jpg" title=""/>
            </div>
              
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/9.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/9-s.jpg" title=""/>
            </div>
              
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/10.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/10-s.jpg" title=""/>
            </div>
              
            <div class="slider-item">
            <img src="/assets/images/kitchens-trad/11.jpg"/>
            <img class="thumbnail" src="/assets/images/kitchens-trad/11-s.jpg" title=""/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="wrapper">
        <p> Email: design@bankinteriors.co.uk  &bull;   Design Centre - Berkswell   &bull;   Tel: 01676 530329</p>
      </div>
    </footer>
  </body>
</html>

client/dev/jade/kitchens.jade
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bank Interiors - Kenilworth | Luxury Kitchens | Traditional Kitchens | Midlands
    link(rel='canonical' href='http://bankinteriors.co.uk/kitchens.html')
    meta(name='description', content='Bank Interiors are Warwickshire’s exclusive retailer and fitter of luxury, contemporary and traditional kitchens and bathrooms.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/core.min.css')
    link(rel='stylesheet', href='http://bankinteriors.co.uk/css/advanced-slider-base.css')
    link(rel='stylesheet', href='http://bankinteriors.co.uk/css/curved-rounded-2/curved-rounded-2.css')
    link(rel='stylesheet', href='http://bankinteriors.co.uk/css/scrollbar-3-light/scrollbar-3-light.css')

    script(src='http://bankinteriors.co.uk/js/jquery-1.6.1.min.js')
    script(src='http://bankinteriors.co.uk/js/jquery.advancedSlider.min.js')
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    script
      | $(document).ready(function(){
      | $('.slider').advancedSlider({width:923, height:555, skin: 'curved-rounded-2', scrollbarSkin: 'scrollbar-3-light', horizontalSlices: 6, verticalSlices: 3, fadeNavigationButtons: true, 
      | thumbnailsType: 'navigation', thumbnailSync: true, visibleThumbnails: 7, fadeThumbnailArrows: true, thumbnailButtons: true, fadeThumbnailButtons: true, 
      | thumbnailScrollbar: false, fadeThumbnailScrollbar: true, hideThumbnailCaption: true, slideshow: false, slideshowControls: false, fadeSlideshowControls: false,                                     shadow: false, fadeNavigationArrows: false, fadeNavigationThumbnails: false, thumbnailButtons: false, navigationButtons: false, fadeThumbnailArrows: false,                                     thumbnailWidth: '116', thumbnailHeight:'69', navigationThumbnailsCenter: false, 
      | slideProperties:{
      | 0: {captionHideEffect: 'slide', captionSize: 35}, 
      | 1: {captionShowEffect: 'fade', captionPosition: 'custom', captionHeight: 160},
      | 3: {captionPosition: 'top', captionSize: 40}, 
      | 5: {captionHideEffect: 'slide', captionPosition: 'right', captionSize: 170}
      | }
      | });
      | });

  body
    header.header
      .wrapper.unify
        img.logo(src='/assets/images/logo.jpg' alt='Bank Interiors')

        .heading.unify
          h3 Kitchen and Bathroom Cabinet Manufacturers
          span.heading-sub Tel&#58; 01676 530329

        nav.nav
          ul.nav-ul
            li.nav-li: a(href="index.html") Home
            li.nav-li.nav-active: a(href="kitchens") Our Kitchens
            li.nav-li: a(href="bathrooms") Our Bathrooms
            li.nav-li: a(href="what-to-expect") What to Expect
            li.nav-li: a(href="design") Design &amp; Installation
            li.nav-li: a(href="contact") Contact Bank

    section.kitchens-main
      .wrapper
        .kitchens-content.unify
          h1.kitchens_heading Kitchens
  
          .slider(style="width: 100% !important")
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/1.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/1-s.jpg" title=""/>
            | </div>
            | 
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/2.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/2-s.jpg" title=""/>
            | </div>
            | 
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/3.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/3-s.jpg" title=""/>
            | </div>
            | 
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/4.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/4-s.jpg" title=""/>
            | </div>
            | 
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/5.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/5-s.jpg" title=""/>
            | </div>
            | 
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/6.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/6-s.jpg" title=""/>
            | </div>
            | 
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/7.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/7-s.jpg" title=""/>
            | </div>
            | 
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/8.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/8-s.jpg" title=""/>
            | </div>
            |   
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/9.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/9-s.jpg" title=""/>
            | </div>
            |   
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/10.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/10-s.jpg" title=""/>
            | </div>
            |   
            | <div class="slider-item">
            | <img src="/assets/images/kitchens-trad/11.jpg"/>
            | <img class="thumbnail" src="/assets/images/kitchens-trad/11-s.jpg" title=""/>
            | </div>

    include ./includes/footer.jade
